<link rel="stylesheet" href="./css/style1.css">


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create_post" id="new-post-form" method="POST">
        <textarea name="contents" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="POST">
    </form>

</section>

<section>
    <ul>
        <% for(post of posts_l){%>
            <li><%= post %></li>
        <%}%>
    </ul>
</section>