<link rel="stylesheet" href="./css/style1.css">


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create_post" id="new-post-form" method="POST">
        <textarea name="contents" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="POST">
    </form>

</section>

<section>
    <ul>
        <% for(post of posts_l){%>
            <li><%= post %></li>
            <form action="/comments/create_comments" id="new-post-form" method="POST">
                <textarea name="comment_content" id="" cols="20" rows="1"></textarea>
                <input type="hidden" name="post" value="<%=post._id %>">
                <input type="submit" value="POST">
            </form>
        <%}%>
        
    </ul>
</section>